<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <%- include("../partials/header.ejs")  %>
    <main>
        <a href="/productos/" class="boton">volver</a>
        <% if (product) { %>
            <article>
                <nav>
                </nav>
                <h2><%= product.name %><span>  $<%= product.price %> </span> </h2>
                <nav>
                    <a href="/productos/<%= product.categoria %>">
                        categoria: <%= product.categoria %>
                    </a>
                </nav>
                <picture>
                    <img src="/products/<%= product.img %>">
                </picture>
                <form action="/productos/borrar?m=DELETE" method="post" >
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <a href="/productos/edit/<%= product.id %>" class="boton">editar</a>
                    <button type="submit" class="boton">borrar</button>
                </form>
            </article>
        <% } else { %>
             <h2>
                no hay productos
             </h2>
        <% } %>
    </main>
    <%- include("../partials/footer.ejs")  %>
</body>
</html>